backend/venv/
**/__pycache__/
*.pyc

*.tfstate
*.tfstate.*

.terraform/
.terraform.lock.hcl
terraform.tfvars

*.pem

.env

aws/
awscliv2.zip
*.zip

terraform/session-manager-plugin.deb

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

scripts/test-local.sh
