<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>

<h2>User Management</h2>

<a href="/users/create">
    Create User
</a>

|

<a href="/dashboard">
    Dashboard
</a>

|

<a href="/logout">
    Logout
</a>

<hr>

<a href="/dashboard">
    Dashboard
</a>

<hr>

<table border="1">

<tr>
    <th>Username</th>
    <th>Role</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for user in users %}

<tr>

<td>{{ user.username }}</td>

<td>{{ user.role }}</td>

<td>
    {% if user.get('active', True) %}
        Active
    {% else %}
        Disabled
    {% endif %}
</td>

<td>
    {% if user.username != "admin" %}

        {% if user.get('active', True) %}

            <a href="/users/reset/{{ user.username }}">
                Reset Password
            </a>

            |

            <a href="/users/disable/{{ user.username }}">
	        Disable
	    </a>
        {% else %}
            <a href="/users/reset/{{ user.username }}">
                Reset Password
            </a>

            |

            <a href="/users/enable/{{ user.username }}">
                Enable
            </a>

        {% endif %}

    {% endif %}
</td>
</tr>

{% endfor %}

</table>

</body>
</html>
